<h1>Pages#home</h1>

<% if !session[:blockstack_user] %>
  <p><a href="/auth/blockstack">Login with Blockstack</a></p>
<% else %>
  <p><a href="/logout">Log out</a></p>
  <code><%= debug session[:blockstack_user]  %></code>
<% end %>
